<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Add Page </title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    <div class="container">

        <h1> Add User </h1>

    </div>
    <form action="/add" method="POST" class="form">
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="Enter Your Name" required>
        <br>
    
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Your Email" required>
        <br>
    
        <label for="phone">Phone</label>
        <input type="text" name="phone" placeholder="Enter Your Phone" required>
        <br>
    
        <button type="submit" class="btn">Add User</button>
    </form>
    
</body>

</html>